name: Daily Sync
on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:
  
permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Run
        run: |
          pip install requests
          python update_portfolio.py
    - name: Deploy and Save History
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add index.html history.json
          git commit -m "Auto-update dashboard and lock daily history" || echo "No changes to commit"
          git push
